.containerhome {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 5vh;
}
.colhome {
 height: 80vh;
 align-self: stretch;
}

.rowhomename {
  /* align-self: center; */
  font-size: 5vw;
  width: 80vw;
  height: 40vh;
}

.rowlist {
  /* align-self: center; */
  width: 80vw;
  height: 20vh;
}

.rowspace {
  height: 40vh;
}
