.containerhome {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.colhome {
 height: 80vh;
 align-self: stretch;
}

.rowhomename {
  /* align-self: center; */
  font-size: 70px;
  width: 80vh
}


.rowspace {
  height: 40vh
}
